{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Compétences
{% endblock %}

{% block body %}
    <div class="container mt-5 text-white">
        <div class="row section-container">
            <div class="col-md-12 text-center">
                <p class="text-center mb-2">Pendant mes études à l'EPSI d'Arras, j'ai su engranger de nouvelles compétences, mais également au cours de mes stages.</p>
                <p class="text-center mb-2">Pour accéder à mon tableau de compétences choisissez votre format de visibilité.</p>
                <div class="text-center">
                    <a href="#competences" class="btn btn-primary mr-2">Format PDF</a>
                    <a href="{{ path('app_tabcomp') }}" class="btn btn-primary">Tableau interactif</a>
                </div>
            </div>
        </div>

        <div id="competences" class="row justify-content-center mt-3">
            {% for competence in competences %}
                <div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
                    <div class="card w-100">
                        <div class="card-body text-center">
                            <h5 class="card-title"><strong>{{ competence.getNom() }}</strong></h5>
                            <p class="card-text mb-2">{{ competence.getDescription() }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{ path('app_competence-detail', {'id': competence.getId()}) }}" class="btn btn-primary">Découvrir les projets</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row section-container mt-3">
            <div class="col-md-12 text-center">
                <h2 class="section-title text-center mb-2">Langages de programmation et systèmes d'exploitation</h2>
                <p class="text-center mb-2">Au cours de mon cursus scolaire et de divers projets, j'ai utilisé plusieurs langages de programmation ainsi que des systèmes d'exploitation.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            {% for logiciel in logiciels %}
                <div class="col-md-4 mb-2">
                    <div class="card h-100 p-2 logiciel-card">
                        <div class="card-body text-center">
                            <img src="{{ asset('images/logiciels/' ~ logiciel.getImage()) }}" class="img-fluid mb-2 rounded-circle" alt="{{ logiciel.getNom() }}" style="max-width: 80px; max-height: 80px;">
                            <h6 class="card-title">{{ logiciel.getNom() }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row section-container mt-3">
            <div class="col-md-12 text-center">
                <h2 class="section-title text-center mb-2">Logiciels et sites Web</h2>
                <p class="text-center mb-2">Voici la liste de logiciels ainsi que de sites internet que j'ai pu utiliser lors de mon cursus.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            {% for logicielWin in logicielsWin %}
                <div class="col-md-4 mb-2">
                    <div class="card h-100 p-2 logiciel-card">
                        <div class="card-body text-center">
                            <img src="{{ asset('images/windows/' ~ logicielWin.getImage()) }}" class="img-fluid mb-2 rounded-circle" alt="{{ logicielWin.getNom() }}" style="max-width: 80px; max-height: 80px;">
                            <h6 class="card-title">{{ logicielWin.getNom() }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
